nav-menu
	.ui.stackable.menu
		.header.item Training Manager
		a.item(href='/') Dashboard
		a.item(href="/facilitators") Facilitators
		a.item(href="/courses") Courses
		a.item(href="/clients") Clients
		a.item(href="/bookings") Bookings

		.ui.simple.dropdown.right.item
			span
				|  
				i.circle.icon(class='{ green : data.connected}')
			| Hi {data.user.profile.name || data.user.emails[0].address}  
			i.dropdown.icon
			.menu
				a.item(href='/profile') Profile
				a.item(href='/settings') Settings
				.item(onclick='{logout}') Logout

	script(type='coffee').
		@getMeteorData = ->
			user: Meteor.user()
			connected: Meteor.status().connected

		@mixin 'RiotMeteorData'

		@logout = -> Meteor.logout()