bookings-table
	table.ui.celled.table
		thead
			tr
				th Course
				th Learners
				th Sessions
				th Actions
		tbody
			tr(each='{data.bookings}')
				td {course().title}
				td {learners().count()}
				td {sessions.length}
				td
					a.ui.primary.button(href="/bookings/{_id}") Details
					button.ui.button(onclick='{parent.delete}') Delete

	script(type='coffee').
		@getMeteorData = ->
			bookings: Bookings.find().fetch()

		@mixin 'RiotMeteorData'

		@delete = (e) -> e.item.remove()